<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>FTG Exercises</title>
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
<script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
<script src="app.js"></script>
</head>

<body>

	<!-- Templates -->
	<script type="text/template" id="entityTemplate">
      <b><%- data.title %></b>: <% //data.content %>
      (<a href="#" class="edit-entity">Edit</a>)
	  (<a href="#" class="delete-entity">Delete</a>)
	<% if(data.objectId){ %>
	  (<a href="view.html?<%- data.objectId %>">View</a>)
    <% } %>
      
    </script>

	<a href='../index.html'>Back to front page</a>
	<p />

	<div class='new-entity' style='border: 1px'>
		Title:<input class='title' type='text' /> 
		<br> Content:
		<textarea class='content'></textarea>
		<br/> 
		Template: <select class='template'></select>
		<br/>
		Style: <select class='style'></select>	
			
		<input class='create-new' type='button'
			value='Create new Exercise' />

	</div>
	
	<div class='tpl-edited-entity' style='border: 1px;display:none;'>
		Title:<input class='title' type='text' /> <br> Content:
		<textarea class='content'></textarea>
		<br/> 
		Template: <select class='template'></select>
		<br/>
				Style: <select class='style'></select>
		<br/>
		<input class='save' type='button' value='Save' />
		<input class='cancel' type='button' value='Cancel' />
	</div>

	<div id='title'></div>
	<ol id='entityList'>
	  <li>Loading ...</li>
	</ol>


	<script type="text/javascript">
		var main = function() {
			
			ftg_parseInit()

			$('#title').append($('<h1>Exercises</h1>')[0])

			var Template = Parse.Object.extend('Template')
			var Style = Parse.Object.extend('Style')
			
			var defaultTemplate = new Template()
			//defaultTemplate.id = 'ujwBX8CV41'
			
			var defaultStyle = new Style()
			//defaultStyle.id = 'Y26RQhPMtr'
			
			var entityName = 'Exercise'
			//fields with default values:
			var entityFields = {
				'title' : '',
				'content' : '',
				'template': defaultTemplate,
				'style': defaultStyle
			}
			
			var entityTemplate = '#entityTemplate'
			var newEntityEl = '.new-entity'
			var entityListEl = '#entityList'

			ftg_scaffold(entityName, entityFields, entityTemplate,
					entityListEl, newEntityEl)
					
			var retrieveOptions=function(entityClass, selectElementClass){

				var EntitiesListView = Parse.View.extend({
					initialize : function() {
						_.bindAll(this, 'addAll')
						var EntityList = Parse.Collection.extend({model:entityClass})
						this.tList = new EntityList()
						this.tList.bind('reset', this.addAll)
						
						//fetch only the name:
						query = new Parse.Query(entityClass)
						query.select('name')
						this.tList.query=query
						this.tList.fetch()
					},
		
					addOne : function(entity) {
						var objectId=entity.id
						var title=entity.get('name')
						
						var optElement='<option value="'+objectId+'" label="'+title+'"/>'
						$('.new-entity .'+selectElementClass).append(optElement)
						$('.tpl-edited-entity .'+selectElementClass).append(optElement)
					},
		
					addAll : function() {
						this.tList.each(this.addOne)
					},
				})
				
				new EntitiesListView()
			}
			
			retrieveOptions(Template, 'template')
			retrieveOptions(Style, 'style')
			

		}
		$(main)
	</script>
</body>

</html>