<div>
<a class="btn btn-primary pull-right" ng-click='save()' ng-disabled='saveDisabled'>Save</a>
<div ng-if="editing.original" display='inline'>
	<a class='btn btn-info' ng-click='duplicateItem()'>Duplicate</a> <a
		class='btn btn-danger' ng-click='deleteItem()'>Delete</a>
</div>

<div class='alert alert-warning' ng-show='editing.original.dirty()'>
<strong>UNSAVED</strong>

</div>
</div>

<tabset>
<tab heading='Data'>
<div class='panel panel-primary'>
	<div class='panel-body'>

		<form name='editForm'>
			<div class="form-group">
				<label for="objTitle" class="control-label">Title</label> <input
					type="text" class="form-control" id="objTitle"
					ng-model='editing.obj.title' ng-change='editingChange()'></input>
			</div>
			<div class="form-group">
				<label for="objContent" class="control-label">Content</label>
				<textarea class="form-control" id="objContent" rows="12"
					ng-model='editing.obj.content' ng-change='editingChange()'></textarea>
			</div>
			<div class="form-group">
				<label for="objStyle" class="control-label">Style</label> <select
					class="form-control" id="objStyle" ng-model='editing.obj.style'
					ng-change='editingChange()'>
					<option ng-repeat='style in entityConfig.style.items'
						value='{{style.id}}' label='{{style.attributes.name}}' />
				</select> <a ui-sref='style.edit({itemId: editing.obj.style})'
					ng-hide='!editing.obj.style' class='pull-right'>See it</a>
			</div>
			<div class="form-group">
				<label for="objTemplate" class="control-label">Template</label> <select
					class="form-control" id="objTemplate"
					ng-model='editing.obj.template' ng-change='editingChange()'>
					<option ng-repeat='template in entityConfig.template.items'
						value='{{template.id}}' label='{{template.attributes.name}}' />
				</select> <a ui-sref='template.edit({itemId: editing.obj.template})'
					ng-hide='!editing.obj.template' class='pull-right'>See it</a>
			</div>
		</form>
	</div>
</div>
<h3>Link: <a href='{{viewLink}}'>{{viewLink}}</a></h3>
</tab>
<tab heading='Preview'>
<div class='panel panel-info'>
	<a class='btn btn-success' ng-click='refreshPreview()'>Refresh</a>
	<div class='panel-body'>
		<div class='form-group'>
			<label class='control-label'>Width:</label> <input type="text"
				class='form-control' ng-model='editing.obj.previewWidth' ng-change='editingChange()'/>
		</div>
		<div class='form-group'>
			<label class='control-label'>Height:</label> <input type="text"
				class='form-control' ng-model='editing.obj.previewHeight' ng-change='editingChange()'/>
		</div>

		<iframe src="{{viewLink}}" width="{{editing.obj.previewWidth}}"
			height="{{editing.obj.previewHeight}}"></iframe>
	</div>
</div>
</tab>
</tabset>

