
<a class='btn btn-info' ng-click='duplicateItem()'>Duplicate</a>
<a class='btn btn-danger' ng-click='deleteItem()'>Delete</a>

<div class='panel panel-primary'>
	<div class='panel-body'>

		<form name='editForm'>
			<div class="form-group">
				<label for="objTitle" class="control-label">Title</label> <input
					type="text" class="form-control" id="objTitle"
					ng-model='editing.obj.attributes.title'></input>
			</div>
			<div class="form-group">
				<label for="objContent" class="control-label">Content</label>
				<textarea class="form-control" id="objContent" rows="12"
					ng-model='editing.obj.attributes.content' ng-change='editingChange()'></textarea>
			</div>
			<div class="form-group">
				<label for="objStyle" class="control-label">Style</label> <select
					class="form-control" id="objStyle" ng-model='editing.obj.attributes.style.id'
					ng-change='editingChange()'>
					<option ng-repeat='style in entityConfig.style.items'
						value='{{style.id}}' label='{{style.attributes.name}}' />
				</select> <a ui-sref='style.edit({itemId: editing.obj.attributes.style.id})'
					ng-hide='!editing.obj.attributes.style' class='pull-right'>See it</a>
			</div>
			<div class="form-group">
				<label for="objTemplate" class="control-label">Template</label> <select
					class="form-control" id="objTemplate"
					ng-model='editing.obj.attributes.template.id' ng-change='editingChange()'>
					<option ng-repeat='template in entityConfig.template.items'
						value='{{template.id}}' label='{{template.attributes.name}}' />
				</select> <a ui-sref='template.edit({itemId: editing.obj.attributes.template.id})'
					ng-hide='!editing.obj.attributes.template' class='pull-right'>See it</a>
			</div>

			<button type="button" class="btn btn-primary" ng-click='save()'
				ng-disabled='saveDisabled'>Save</button>
		</form>
	</div>
</div>

<div class='panel panel-info'>
	<div class='panel-header'>
	Preview
	</div>
	
	<div class='panel-body'>
		
		<input type="text" ng-model='previewWidth'/>
		<input type="text" ng-model='previewHeight'/>
		
		<iframe src="{{getViewLink()}}" width="{{previewWidth}}" height="{{previewHeight}}"></iframe>
	</div>
</div>